:root {
  --main-color: #fac710;
}
/* Start landing */
* {
  box-sizing: border-box;
}
body {
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
  background-color: #eee;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
/* Start navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0.4);
}
.navbar .logo {
  font-family: "Gagalin", sans-serif;
}
.navbar .logo span {
  color: var(--main-color);
}
.navbar .logo span:first-child {
  color: var(--main-color);
  font-size: 36px;
}
.signupBtn {
  background: var(--main-color);
}
@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}
/* End navbar */
/* Start Landing page */
/* intro text */
.intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: white;
  text-align: center;
}
.intro .intro-content {
  display: flex;
  font-size: 12px;
  gap: 40px;
  justify-content: center;
}
.intro .intro-content div {
  display: flex;
  gap: 5px;
}
.intro .intro-content p {
  margin: 0;
}
.intro .intro-content i {
  color: #fac710;
  font-size: 1rem;
}
.intro .intro-text h1 {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 10px;
  letter-spacing: 4px;
}
.intro .intro-text p {
  line-height: 1.6;
  font-size: 1rem;
  margin: 0;
  letter-spacing: 1px;
}
.intro .intro-text button {
  background: transparent;
  border: 0;
  border-bottom: 2px solid white;
  padding: 18px;
  color: white;
  font-weight: 600;
  margin-top: 40px;
  transition: 0.5s;
}
.intro .intro-text button:hover {
  color: #fac710;
  border-bottom: 2px solid #fac710;
}
/* Tablet screen */
@media (min-width: 481px) and (max-width: 768px) {
  .intro .intro-content p {
    font-size: 12px;
  }
  .intro .intro-content i {
    font-size: 14px;
  }
  .intro .intro-text h1 {
    font-size: 2rem;
  }
  .intro .intro-text p {
    font-size: 12px;
  }
  .intro .intro-text button {
    padding: 12px;
    margin-top: 30px;
  }
}
/* Phone screen */
@media (max-width: 481px) {
  .intro .intro-content p {
    font-size: 6px;
  }
  .intro .intro-content i {
    font-size: 12px;
  }
  .intro .intro-text h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .intro .intro-text p {
    font-size: 8px;
  }
  .intro .intro-text button {
    padding: 8px;
    font-size: 12px;
  }
}
/* slides */
.slides {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.slides .layer {
  position: absolute;
  background: black;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  z-index: 2;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: slide-show 12s infinite;
}
.slide-2 {
  animation-delay: 4s;
}
.slide-3 {
  animation-delay: 8s;
}
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes slide-show {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20%,
  30% {
    opacity: 1;
    scale: 1.05;
  }
  50% {
    opacity: 0;
  }
}
/* End Landing page */
/* service section */

/* end service section */